version: "3.9"

services:
  nextjs:
    build: .
    container_name: notebook_nextjs
    restart: always
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: notebook_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - nextjs
